<div class="create_tweet">
  <div class="container-fluid tweet_create flex-1">
    <div class="flex-1">
      <%= form_with(model: tweet) do |form| %>
        <% if tweet.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>

            <ul>
              <% tweet.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
          <%= form.label :Tweet_Something %><br>
          <%= form.text_area :Text, class: 'tweet',cols: 60, placeholder: 'Compose new tweet' %>
      
        <div class="actions">
          <%= form.submit 'Tweet', class: 'submit' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
