<section class="row">
   <section class="sec2 col-3">
      <div class="logout container-fluid">
        <div class="profile d-flex  mt-2">
         <div class="d-flex">
            <% if current_user %>
               <% if current_user.photo_url %>
                  <div class="photo"><%= link_to image_tag(current_user.photo_url), user_path(current_user) %></div>
                <% else %>
                  <i class="fa fa-user-circle user-img mr-2"></i>
               <% end %>
              <h5 class="log"><%= link_to current_user.username, user_path(current_user), class: 'log' %></h5>
            <% end %>
          </div>
        </div>

        <div class="d-flex follow mt-5">

              <% if current_user %>
              <div>
                <div class="stats1 mr-5"><%= link_to current_user.followeds.size %></div>
                <p class="log_out mr-2">following</p>
              </div>
              <div class="my-followers">
                <div class="stats1"><%= link_to current_user.followers.size %></div>
                <div><p class="log_out">followers</p></div>
              </div>
              <% end %>
   
        </div>

        <div class="nav-side">
          <% if current_user %>
            <div class="log-homes"><h6 class="log"><i class="fa fa-home text-primary mr-1 icon"></i><%= link_to 'HOME', tweets_path, class: 'log' %></h6></div>
            <div class="log-homes"><h6 class="log"><i class="fa fa-user text-primary mr-1 icon"></i><%= link_to 'PROFILE', user_path(current_user), class: 'log' %></h6></div>
          <% end %>
        </div>
      </div>
    </section>

   <section class="sec1 col-9 p-0">
      <header class="header">
        <div class="logo ml-2">Ed</div>
        <p class="mx-auto" id="notice"><%= notice %></p>
        <% if current_user %>
          <%= link_to 'Log Out', logout_path(session), class: 'log_out_btn', method: :delete %>
        <% end %>
      </header>
    <section class="container-inner d-flex">
      <section class="tweets-container">
        <nav class = "navbar1">
          <% if current_user %>
            <p class="links"><%= link_to 'Tweets', tweets_path, class: 'links' %></p>
          <% end %>
        </nav>
          <hr class="mt-0">
        <div>
          <div>
            <%= render 'form', tweet: @tweet %>
          </div>
        </div>

        <div class="tweet-show">
          <div>
            <div>
              <% if !@tweets.any? %>
                <h5 class="new_tweets">There are no tweets!<h5>
              <% end %>
            </div>
            <hr>

            <div>
             
              <% @tweets.each do |tweet| %>
                <div class="author-data container-fluid ml-2">
                    <% if current_user.following?(tweet.author) || current_user.followeds %>
                      <% if tweet.author.photo_url %>
                          <div class="photo-user"><%= link_to image_tag(tweet.author.photo_url), user_path(tweet.author), class: 'user-photo' %></div>
                        <% else %>
                          <i class="fa fa-user-circle user-img"></i>
                        <% end %>
                      <h4 class="log_user"><%= link_to tweet.author.username.titleize, user_path(tweet.author), class: 'user_name' %></h4>
                      <small><%= time_ago_in_words(tweet.created_at) %> ago </small>
                      
                      <div class="ml-5 container-fluid">
                        <p class="authored"><%= tweet.text %></p>
                        <%= vote_or_unvote_btn(tweet)  %>
                        <i class="fa fa-thumbs-up text-primary"></i><%= tweet.votes.count %>
                      </div> 
                    <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </section>

      <article class="articles p-0 col-4">
        <div>
          <h4 class="text-center pt-2">Who to follow</h4>
        </div>
          <hr class="mt-0">
        <div class="container-fluid ml-5">
              <% @tweets.each do |user| %>
                  <div>
                    <div class="container-fluid">
                    <% if current_user.id != user.id %>
                      <% if !current_user.following?(user) %>
                      <h4>
                        <% if user.photo_url %>
                          <div class="photo-user"><%= link_to image_tag(user.photo_url), user_path(user), class: 'user-photo' %>
                        <% else %>
                          <i class="fa fa-user-circle user-img"></i>
                        <% end %>
                        <%= link_to user.full_name.titleize, user_path(user), class: 'to_follow' %>
                        </h4>
                        <%= link_to 'follow', follow_user_path(user), class: 'unfollow' %>
                      <% end %>
                    <% end %>
                    </div>
                  </div>
              <% end %>
        </div>
      </article>
    </section>
  </section>
</section>

