<section class="">  
   <section class="sec1 p-0">
    <header class="header position-sticky">
      <% if current_user %>
        <%= link_to 'Log Out', logout_path(session), class: 'log_out_btn', method: :delete %>
      <% end %>
    </header>

    <section class="container-inner d-flex">
      <section class="tweets-container">
        <nav class = "navbar1">
          <% if current_user %>
            <p class="links"><%= link_to 'Tweets', tweets_path, class: 'links' %></p>
          <% end %>
        </nav>
          <hr class="mt-0">
        <div>
          <div>
            <%= render 'form', tweet: @tweet %>
          </div>
        </div>

        <div class="tweet-show">
          <div>
            <div>
              <h5 class="new_tweets">8 new tweets<h5>
            </div>
            <hr>

            <div>
              <p id="notice"><%= notice %></p>
              <% @tweets.each do |tweet| %>
                <div class="author-data container-fluid ml-2">
                  <% if current_user || current_user.following?(tweet.author) %>
                    <h4 class="log_user"><%= link_to tweet.author.username.titleize, user_path(tweet.author), class: 'user_name' %></h4>
                    <small><%= time_ago_in_words(tweet.created_at) %> ago </small>
                    <p class="authored"><%= tweet.text %></p>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </section>

      <article class="articles p-0 col-4">
        <div>
          <h4 class="text-center pt-2">Who to follow</h4>
        </div>
          <hr class="mt-0">
        <div class="container-fluid ml-5">
              <% @users.each do |user| %>
                  <div>
                    <div class="container-fluid">
                    <% if current_user.id != user.id %>
                      <% if current_user.following?(user) %>
                        <h4 class="log_users"><%= link_to user.username.titleize, users_path, class: 'to_follow' %></h4>
                        <%= link_to 'unfollow', unfollow_path(user), method: :delete, class: 'unfollow' %>
                      <% else %>
                        <h4 class="log_users"><%= link_to user.username.titleize, users_path, class: 'to_follow' %></h4>
                        <%= link_to 'follow', follow_path(user), class: 'unfollow' %>
                      <% end %>
                    <% end %>
                    </div>
                  </div>
              <% end %>
        </div>
      </article>
    </section>
  </section>
</section>

