<section class="d-grid row">  
      <%#= image_tag "image.jpg" %>
  <section class="sec2 col-2">
    <div class="logout">
      <div>
        <% if current_user %>
          <h4 class="user"><%= current_user.username %></h4>
          <p class ="log_out"><%= link_to 'Log Out', logout_path, method: :delete %></p>
        <% end %>
      </div>
    </div>
  </section>

  <section class="sec1 p-0 col-10">
    <header class="header">
      <% if current_user %>
        <h4><%= current_user.username %></h4>
        <p class ="para_log_out"><%= link_to 'Log Out', logout_path, method: :delete %></p>
      <% end %>
    </header>

  <section class="container-inner d-flex">
    <section class="tweets-container">
      <nav class = "navbar1">
        <% if current_user %>
          <h4><%= link_to 'Tweets', tweets_path, class: 'links' %></h4>
          <h4><%= link_to 'Photos', class: 'links' %></h4>
          <h4><%= link_to 'Videos', class: 'links' %></h4>
        <% end %>
      </nav>
        <hr class="mt-0">
      <div>
        <div>
          <%= render 'form', tweet: @tweet %>
        </div>
      </div>

      <div class="tweet-show">
        <div>
          <p id="notice"><%= notice %></p>
          <% @tweets.each do |tweet| %>
            <div class="author-data">
              <h4 class="author"><%= link_to tweet.author.username %></h4>
              <p class="authored"><%= tweet.Text %></p>
              <small><%= time_ago_in_words(tweet.created_at) %> ago </small>
              <%#= link_to 'Show', tweet %>
              <%#= link_to 'Edit', edit_tweet_path(tweet) %>
              <%#= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
        </tbody>
      </div>
    </section>

    <article class="articles p-0 col-4">
      <div>
        <h4 class="text-center pt-2">Who to follow</h4>
      </div>
        <hr class="mt-0">
      <div>
        <% @users.each do |user| %>
          <h4><%= link_to user.fullName %></h4>
        <% end %>
      </div>
    </article>
  </section>
</section>

