<section class="row"> 
   <section class="sec2 col-2">
      <div class="logout">
        <div class="profile d-flex  mt-2">
          <div class="d-flex">
            <% if current_user %>
             <% if current_user.photo_url %>
              <div class="photo"><%= link_to image_tag(current_user.photo_url), user_path(current_user) %></div>
              <% else %>
                <i class="fa fa-user-circle user-img mr-2"></i>
             <% end %>
              <h5 class="log"><%= link_to current_user.username, user_path(current_user), class: 'log' %></h5>
            <% end %>
          </div>
        </div>

        <div class="d-flex follow mt-5 container-fluid">

              <% if current_user %>
              <div>
                <div class="stats1"><%= link_to current_user.followeds.size %></div>
                <p class="log_out mr-2">following</p>
              </div>
              <div>
                <div class="stats1"><%= link_to current_user.followers.size %></div>
                <div><p class="log_out">followers</p></div>
              </div>
              <% end %>
   
        </div>

        <div class="nav-side">
          <% if current_user %>
            <div class="log-homes"><h6 class="log"><i class="fa fa-home text-primary mr-1 icon"></i><%= link_to 'HOME', tweets_path, class: 'log' %></h6></div>
            <div class="log-homes"><h6 class="log"><i class="fa fa-user text-primary mr-1 icon"></i><%= link_to 'PROFILE', user_path(current_user), class: 'log' %></h6></div>
            <div class="log-homes"><h6 class="log"><i class="fa fa-user text-primary mr-1 icon"></i><%= link_to 'Delete account', user_delete_path(@user), class: 'log' %></h6></div>
          <% end %>
        </div>
      </div>
    </section>


  <section class="sec1 col-10 p-0">
    <header class="header">
      <div class="logo ml-2">Ed</div>
      <% if current_user %>
        <%= link_to 'Log Out', logout_path(session), class: 'log_out_btn', method: :delete %>
      <% end %>
    </header>

    <section class="container-inner d-flex">
      <section class="tweets-container">
        <div>
          <% if @user.cover_image_url %>
            <div class="cover_image" style="background-image: url('<%= @user.cover_image_url %>');"></div>
          <% end %>
        </div>

        <nav class = "navbar1 d-flex ml-2">
          <% if current_user %>
              <a href="<%= user_path(@user) %>">  
                <span id="user_tweets" class="menu-title font-fam">tweets</span>
              </a> 
              <a href="<%= user_path(@user) %>">  
                <span id="people_you_follow" class="menu-title font-fam">following</span>
              </a> 
          <% end %>
        </nav>
          <hr class="mt-0">
        <div>
            <%= render "tweets/form", :@tweet => Tweet.new %>
        </div>

        <div class="tweet-show">
          <div>
            <div>
              <% if !@user_tweets.any? %>
                <h5 class="new_tweets">There are no tweets!<h5>
              <% end %>
            </div>
            <hr>

            <div class="container-fluid ml-4 pr-4">
              <p id="notice"><%= notice %></p>
              <% @user_tweets.each do |tweet| %>
                <div class="author-data">
                    <h4 class="author">
                      <% if tweet.author.photo_url %>
                        <%= link_to image_tag(tweet.author.photo_url), user_path(tweet.author), class: 'userimg' %>
                      <% else %>
                        <i class="fa fa-user-circle user-img"></i>
                      <% end %>
                      <%= link_to tweet.author.username, user_path(tweet.author) %>
                    </h4>
                    
                    <% if current_user  == tweet.author %>
                      <h4><%= link_to edit_tweet_path(tweet), class: "edit" do %><i class="fa fa-pencil-alt text-secondary ml-2 pencil" aria-hidden="true" target="_blank"></i><% end %></h4>
                    <% end %>
                    <div class="ml-5">
                      <p class="authored"><%= tweet.text %></p>
                      <%= vote_or_unvote_btn(tweet)  %>
                      <i class="fa fa-thumbs-up text-primary"></i><%= tweet.votes.count %> 
                      <small><%= time_ago_in_words(tweet.created_at) %> ago </small>
                    </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </section>

      <article class="articles p-0 col-4">
        <div class="articles_inner">
          <div class="my-2">
          
            <% if @user.photo_url %>
              <div class="photo"><%= link_to image_tag(@user.photo_url), user_path(@user) %></div>
              <% else %>
                <i class="fa fa-user-circle user-img"></i>
            <% end %>
          </div>
          <h4 class="mb-0"><%= link_to @user.full_name.titleize, user_path(@user) %>
            <% if current_user == @user %>
              <%= link_to edit_user_path, class: "edit" do %><i class="fa fa-pencil-alt text-secondary ml-2 pencil" aria-hidden="true" target="_blank"></i><% end %>
            <% end %>
          </h4>

          <p class="mt-0">@<%= link_to @user.username.titleize, user_path %></p>
          <% if current_user.id != @user.id %>
            <% if current_user.following?(@user) %>
              <%= link_to 'unfollow', unfollow_user_path(@user), method: :delete, class: 'unfollow' %>
            <% else %>
              <%= link_to 'follow', follow_user_path(@user), class: 'unfollow' %>
            <% end %>
          <% end %>
        </div>
          <hr class="mb-0">
        <div class="stats_div d-flex">
              <div class="stats">
                <div class="stats2"><%= link_to @user.tweets.size %></div>
                <p>Tweets</p>
              </div>
              <div class="stats">
                <div class="stats2"><%= link_to @user.followers.size %></div>
                <p>followers</p>
              </div>
              <div class="stats">
              <div class="stats2"><%= link_to @user.followeds.size %></div> 
                <p>following</p>
              </div>
        </div>
          <hr class="mt-0">
        <div class="container-fluid pl-0 pr-0">
          
          <div>
            <h4 class="text-center pt-2">Followed by</h4>
            <hr class="mb-0">
            <div class="container-fluid mt-3">
              <div class="container">
                <% @user_followed_by.each do |follow| %>
                  <h4>
                    <% if follow.photo_url %>
                      <%= link_to image_tag(follow.photo_url), user_path(follow), class: 'userimg' %>
                    <% else %>
                      <i class="fa fa-user-circle user-img"></i>
                    <% end %>
                    <%= link_to follow.full_name.titleize, user_path(follow), class: 'to_follow f-by mt-0' %>
                  </h4>
                <% end %>
              </div>
              <div class="flex-1"></div>
            </div>
          </div>          
        </div>
      </article>
    </section>
  </section>
</section>



